.navbar {
	margin-bottom: 0;
}

.jumbotron {
	margin-bottom: 0;
	background: url('/img/lion.jpg') no-repeat;
	background-size: 100%;
	color: white;
}

header {
	background-color: whitesmoke;
	overflow: hidden;
	padding: 40px 20px;
	margin-bottom: 30px;
	border-bottom: 2px solid #FF851B;
}

/*.lion {
	background-image: url('/img/nbi-paint.jpg');
	background-size: 100%;
	color: white;
	height: 150px;
	max-width: 600px;
	margin:0px auto; 
	vertical-align: middle;
	padding-top: 20px; 
	margin-bottom: 20px;
}*/

#social-media {
	display: block;
	margin-top: 30px;
}

#social-media > a {
	margin-left: 20px;
	color: white;
}

#social-media > a > i{
	padding-top: 4px;
}

#map {
	margin-top: 30px;
	height: 450px;
}

.sub-top {
	padding: 15px 0;
	background: #FF9933;
	overflow: hidden;
	margin-bottom: 15px;
}

.sub-top h2 {
	margin: 0;
	color: #fff;
	text-align: center;
}

.events {
	overflow: hidden;
	padding: 40px 0;
}

.where {
	padding: 40px 0;
	overflow: hidden;
	border-top: 3px solid #FF851B;
	text-align: center;
}

.about {
	padding: 40px 0;
	overflow: hidden;
	border-top: 3px solid #FF851B;
	background-color: whitesmoke;
	text-align: center;
}

/*css for the blog posts*/
h1.blog-title {
	font-size: 60px; 
	line-height: 1; 
	color: #111; 
	font-weight: 800; 
	letter-spacing: -1px
}
ul.posts-list {list-style: none;}
ul.posts-list li{margin-bottom: 40px;}
a.posts h1 {font-size: 48px; line-height: 1.1}
a.posts {
	display: block;
	/*border: 1px solid #FF851B;*/
	color: #111;
	text-decoration: none; 
	-webkit-transition: color 0.15s linear;
	-ms-transition: color 0.15s linear;
	transition: color 0.15s linear;
}

a.posts:hover {
	color: #FF851B;
}

.post-meta {
	margin-bottom: 20px;
}

.post-body {
	text-align: left;
}

.post-body p {
	color: #666;
	font-size: 16px;
	line-height: 1.5;
}


@media (max-width: 400px) {
  h1.blog-title  {
    font-size: 48px;
  }
  a.posts h1 {
    font-size: 36px;
  }

}
