.navbar {
	margin-bottom: 20px;
}

.lion{
	background-image: url('/img/nbi-paint.jpg');
	background-size: 100% 100%;
	color: white;
	border-radius: 5px;
	height: 150px;
	max-width: 600px;
	margin:0px auto; 
	vertical-align: middle;
	padding-top: 20px; 
}
