.navbar {
	margin-bottom: 20px;
}

.lion {
	background-image: url('/img/nbi-paint.jpg');
	background-size: 100% 100%;
	color: white;
	border-radius: 5px;
	height: 150px;
	max-width: 600px;
	margin:0px auto; 
	vertical-align: middle;
	padding-top: 20px; 
	margin-bottom: 20px;
}

#social-media {
	margin-left:8px;
}

#social-media > a {
	margin-left: 20px;
	color: #F0DB4F;
}

#social-media > a > i{
	padding-top: 4px;
}

#map {
	height: 450px;
}

.sub-top {
	padding: 15px 0;
	background: #FF9933;
	overflow: hidden;
	margin-bottom: 15px;
}

.sub-top h2 {
	margin: 0;
	color: #fff;
}

.where {
	padding: 20px 0;
	overflow: hidden;
}
/*css for the blog posts*/
h1.blog-title {font-size: 60px; line-height: 1; color: #333; font-weight: 800; letter-spacing: -1px}
ul.posts-list {margin-top: 40px; list-style: none;}
ul.posts-list li{margin-bottom: 20px;}
a.posts h1 {font-size: 48px; line-height: 1.1}
a.posts {
	display: block;
	padding: 20px 10px; border-left: 4px solid #1E90FF; background: #f8f8f8;
	color: #000;
	text-decoration: none; 
	-webkit-transition: color 0.15s linear;
	-ms-transition: color 0.15s linear;
	transition: color 0.15s linear;
}

a.posts:hover {
	color: #428bca;
}


@media (max-width: 400px) {
  h1.blog-title  {
    font-size: 48px;
  }
  a.posts h1 {
    font-size: 36px;
  }

}
