<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nairobi.js User Group - Resources</title>
	
	<link rel='stylesheet' href='../css/bootstrap.css'>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	

<!-- Navbar -->
    <div class='navbar navbar-inverse navbar-static-top' role='navigation'>
        <div class='navbar-header'>
            <a href='../index.html' class='navbar-brand'>nairobi.js</a>
        </div>
        
        <div class='collapse navbar-collapse'>
            <ul class='nav navbar-nav'>
                <li><a href='../index.html'>Home</a></li>
                <li><a href='about.html'>About</a></li>
                <li><a href='members.html'>Members</a></li>
                <li><a href='contact.html'>Contact</a></li>
                <li class='dropdown'>
					<a class='dropdown-toggle' data-toggle='dropdown' href='#learn'>Learn <b class='caret'></b></a>
					<ul class='dropdown-menu'>
						<li><a href='beginner.html'>Beginner Resources</a></li>
						<li><a href='intermediate.html'>Intermediate Resources</a></li>
					</ul>
				</li>
            </ul>
        </div>
    </div>
<!-- /Navbar -->   

<div class='container text-center'>
	<h1>About</h1>
	
</div>

<script src='../js/jquery-1.10.2.js'></script>
<script src='../js/bootstrap.js'></script>
</body>
</html>
