---
layout: default
blogTitle: NairobiJS - Blog
---
<div class='jumbotron text-center'>
	<div class="jumbotron-wrapper">
	<h1><strong>{{page.blogTitle}}</strong></h1>
	<p class="lead">Catch up with all the fun from our events!</p></p>
    </div>
</div>
<div class="posts-bg">
	<div class="container white">
	<div class="post-meta">
	<h1><strong>{{ page.title }}</strong></h1>
	<p class="text-muted">{{ page.date | date_to_string }}</p>
	<p>Author: <strong>{{ page.author }}</strong></p>
	<hr>
	</div>
<!-- post content goes here --->
<div class="post-body">
	{{ content }}
</div>
</div>

</div>
